<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content="Answers for your kahoot test" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap"
            rel="stylesheet"
        />
        <link rel="stylesheet" href="/static/style.css" />
        <link rel="stylesheet" href="/static/<%{{ css }}%>.css" />
        <link rel="shortcut icon" href="/static/logo.svg" type="image/x-icon" />
        <title>Kahoot Answers</title>
    </head>
    <body>
        <%{{ content }}%>
    </body>
</html>
