<%{ './base.ejs' }%> <%{ content %>
<div class="rect"></div>
<div class="circle"></div>
<img class="logo" src="static/images/logo.svg" alt="" />
<form class="enter-id" action="/game">
    <input type="text" placeholder="Enter id" class="input" name="id" />
    <button type="submit" class="enter">Enter</button>
</form>

<%} %> <%{ css %>home<%} %>
