body {
    /* display: flex; */
    /* flex-direction: column; */
    /* gap: 32px; */
    /* align-items: center; */
    /* justify-content: center; */
    /* overflow: hidden; */
    overflow-x: hidden;
    width: 100vw;
    /* height: 100vh; */
}

.enter-id {
    display: flex;
    flex-direction: column;
    padding: 16px;
    gap: 16px;
    margin: 0 auto;
    border-radius: 4px;
    box-shadow: #00000026 0px 2px 4px;
    width: 300px;
    position: relative;
    z-index: 999;
    background: var(--white);
}

.input {
    color: #333333;
    border-radius: 4px;
    font-weight: 700;
    text-align: center;
    border: 2px solid #cccccc;
    padding: 4px 8px;
    height: 48px;
}

.input:focus {
    border-color: black;
}

.input.error {
    border-color: red;
}

.input.error-anim {
    animation: vibro 0.5s linear;
    border-color: red;
}

@keyframes vibro {
    25% {
        transform: translateX(4px);
    }
    50% {
        transform: translateX(-4px);
    }
    75% {
        transform: translateX(4px);
    }
}

.enter {
    height: 48px;
    background-color: #2f2f2f;
    box-shadow: #00000040 0px -4px inset;
    color: var(--white);
    border-radius: 4px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
}

.enter:not(:disabled):hover {
    height: 46px;
    box-shadow: #00000040 0px -2px inset;
    margin-top: 2px;
}

.enter:disabled {
    opacity: 0.2;
    cursor: default;
}

.logo {
    height: 100px;
    width: 200px;
    position: relative;
    z-index: 999;
    margin: 0 auto;
    display: block;
    margin-top: 96px;
    margin-bottom: 24px;
}

.rect,
.circle {
    background-color: #000;
    opacity: 0.1;
    aspect-ratio: 1;
    width: 75vmin;
    position: absolute;
}

.rect {
    top: -15vmin;
    left: -15vmin;
    transform: rotate(45deg);
}

.circle {
    border-radius: 50%;
    bottom: -15vmin;
    right: -15vmin;
}

.challenges {
    background-color: var(--white);
    border-radius: 4px;
    width: 320px;
    position: relative;
    z-index: 999;
    margin: 0 auto;
    margin-top: 24px;
}

.challenges summary {
    padding: 16px;
    cursor: pointer;
    font-weight: 600;
    color: #333;
}

.challenges__list {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.challenge {
    padding: 8px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    border-radius: 4px;
    color: #333;
}

.challenge:hover {
    background-color: #dadada;
}
